---
import Header from "@/components/Header.astro";
import Action from "../Action.astro";
---

<section class="py-4 max-w-3xl mx-auto px-6 sm:px-8">
  <Header />
  <header class="my-12 block">
    <h1
      class="font-bold text-[#3E3355] dark:text-white text-text-heading text-center text-4xl md:text-5xl pt-4 pb-4 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
  from-[#8AE6FB] to-[#8AE6FB] dark:from-[#8AE6FB]/20 dark:to-blue-600/70
  [text-wrap:balance]"
      >
        <span class="dark:text-yellow-200">Desafíos de Programación</span>
        <br />
        Camptii V5.0</span
      >
    </h1>

    <p
      class="text-slate-800 dark:text-slate-300 text-xl text-pretty leading-relaxed mt-6"
    >
      <strong>Aplica</strong> tus habilidades de programación con estos desafíos
      que abarcan desde lo más elemental hasta lo más complejo. Demuestra tu capacidad
      para resolverlos y, sobre todo, disfruta el proceso.
    </p>
    <p
      class="text-slate-800 dark:text-slate-300 text-xl text-pretty leading-relaxed"
    >
      Elige el lenguaje de programación que más te guste. Al finalizar,
      recibirás comentarios sobre tu solución. Agradecemos tu participación en
      la comunidad estudiantil del Instituto Tecnológico Superior de Zongolica.
      Además, te invitamos a votar por los proyectos de la comunidad.

      <span class="text-[#3e3355] dark:text-yellow-200 font-bold"
        >¡Éxito en tu desafío!</span
      >
    </p>
    <Action
      id="login"
      class="w-full text-base"
      as="button"
      aria-label="Iniciar Sesion"
    >
      Inicia sesión para votar
    </Action>
    <small class="mt-2">Para participar, necesitarás una cuenta de GitHub</small
    >
  </header>
</section>

<script>
  import { $ } from "@/lib/dom-selector";

  const { signIn } = await import("auth-astro/client");
  const $login = $("#login");

  if ($login) {
    $login.onclick = () => {
      signIn("github");
      $login.setAttribute("aria-disabled", "true");

      const $span = $login.querySelector("span");
      if ($span) $span.innerText = "Iniciando sesión...";
    };
  }
</script>
