---
import MainLayout from "./MainLayout.astro";
import TagSelector from "@/components/TagSelector.astro";
import Article from "@/components/Article.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import HomeIcon from "@/icons/HomeIcon.astro";
---

<MainLayout title="Pruebas">
  <div class="py-4 max-w-3xl mx-auto px-6 sm:px-8">
    <header class="flex justify-center items-center gap-6">
      <TagSelector />
      <a
        href="/"
        target="_top"
        class="text-xl text-slate-800 dark:text-yellow-400"
        ><HomeIcon class="text-white size-7" />
        <span class="hidden">Inicio</span></a
      >
      <ThemeToggle />
    </header>
    <section class="mt-6 w-full">
      <ul class="space-y-8">
        <slot />
      </ul>
    </section>
  </div>
</MainLayout>
