---
import MainLayout from "./MainLayout.astro";
import TagSelector from "@/components/TagSelector.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<MainLayout title="Pruebas">
  <div class="py-4 max-w-3xl mx-auto px-6 sm:px-8">
    <header class="flex justify-center items-center gap-6">
      <TagSelector />
      <a
        href="/"
        target="_top"
        class="text-xl text-slate-800 dark:text-yellow-400">Inicio</a
      >
      <ThemeToggle />
    </header>
    <section class="mt-6">
      <ul class="grid grid-cols-2 row-auto gap-6">
        <slot />
      </ul>
    </section>
  </div>
</MainLayout>
